*, ::before, ::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  :root{
    font-size:62.5%;
  }
  html, body{
    width:100%;
    height:100vh;
    font-family:sans-serif;
    background-color:lightblue;
  }
  a{
    text-decoration:none;
    color:black;
  }
  img{
    width:100%;
    height:auto;
    object-fit:cover;
  }
  ul{
    list-style-type:none;
  }
  
  
  /*-----------NAVBAR-----------*/
  
  header{
    width:100%;
    background-color:#900C3F ;
    height:8rem;
    display:flex;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    border-bottom:2px solid black;
  }
  
  .portfolio-image{
    max-width:35%;
    height:100%;
  }
  .portfolio-image img{
    width:100%;
    height:100%;
  }
  #navbar{
    width:60%;
  }
  #navbar > ul{
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
  }
  #navbar > ul > li{
    display:block;
  }
  #navbar > ul > li > a{
    font-size:2rem;
    color:white;
  }
  
  /*-----------WELCOME-----------*/
  
  #welcome-section{
    margin-top:8rem;
    width:100%;
    height:calc(100vh - 8rem);
    display:flex;
    flex-direction:column;
    justify-content:center;
    background: linear-gradient(
      90deg,
      beige,
      black,
      #900C3F
    );
    background-size:400%;
    animation: welcome 10s infinite alternate;
  }
  
  @keyframes welcome{
  
    0% {
      background-position: left;
    }
    
    100% {
      background-position: right;
    }
  }
  
  #welcome-section h1{
    text-align:center;
    font-size:4rem;
    letter-spacing:0.3rem;
  
  }
  #welcome-section h1 span{
    display:block;
    letter-spacing:0.4rem;
    font-size:3rem;
    color:#900C3F;
    font-weight:thin;
  }
  
  /*-----------PROJECTS-----------*/
  
  #projects{
    width:100%;
    height:110rem;
    display:flex;
    flex-direction:column;
  }
  #projects h2{
    font-size:4rem;
    text-align:center;
    margin-top:3rem;
    text-decoration: underline white solid 4px;
    
  }
  
  #projects > .a-project-tile{
    width:80%;
    height:40rem;
    margin:0 auto;
    margin-top:5rem;
    
  }
  .project-tile img{
    height:85%;
    border-radius:10px 10px 0px 0px;
  
  }
  .project-description{
    display:block;
    text-align:center;
    padding:2rem 0;
    height:15%;
    font-size:1.5rem;
    letter-spacing:0.5rem;
    background-color:#305DB2;
    color:white;
    font-weight:bold;
    border-radius:0px 0px 10px 10px;
  }
  
  .link-button{
    width:25%;
    height:5%;
    margin:2rem auto;
  }
  .link-button button{
    width:100%;
    height:100%;
    font-size:2rem;
    font-weight:bold;
    border:none;
    border-radius:3px 20px;
    color:white;
    background-color:#900C3F;
    cursor:pointer;
  }
  
  
  
  
  
  /*-----------FOOTER-----------*/
  footer{
    width:100%;
    height:60rem;
    background-color:#1e1e1e;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  
  footer h2{
    width:100%;
    text-align:center;
    font-size:4rem;
    margin:5rem 0 0 ;
    background-image: linear-gradient(
      45deg,
      #900C3F,
      white
      
    );
    -webkit-background-clip: text;
    background-size:400%;
    color:transparent;
    letter-spacing:0.5rem;
    animation: work 2s infinite alternate;
  }
  
  @keyframes work{
  
    0%{
      background-position:left;
    }
    100%{
      background-position:right;
    }
  }
  
  footer ul{
    max-width:90%;
    height:30rem;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:space-evenly;
  }
  
  footer ul > li{
    display:flex;
    width:100%;
    height:10%;
    text-align:center;
  }
  footer ul > li > a{
    width:100%;
    height:100%;
    font-size:2.5rem;
    color:white;
    text-align:center;
  }
  .fa{
    color:lightblue;
    margin-right:1rem;
  }
  footer ul > li:nth-child(5){
    margin:0 auto;
  }
  
  .copyright{
    text-align:right;
    font-size:1.3rem;
    color:white;
    padding-right:2rem;
    padding-top:2rem;
    margin-bottom:3rem;
    border-top:2px solid #900C3F;
  }
  
  
  
  
  /*DESKTOPS AND LAPTOPS:*/
  @media screen and (min-width:1224px){
  
    /*-----------WELCOME-----------*/
  
  #welcome-section h1{
    font-size:7rem;
    letter-spacing:1rem;
  
  }
  #welcome-section h1 span{
    letter-spacing:0.7rem;
    font-size:6rem;
  
  }
  
  /*-----------PROJECTS-----------*/
  
  #projects{
    width:100%;
    height:80rem;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  #projects h2{
    width:100%;
    height:7%;
    font-size:4rem;
    text-align:center;
    margin-top:3rem;
    text-decoration: underline white solid 4px;
    
  }
  
  #projects > .a-project-tile{
    width:40%;
    height:45rem;
    margin:0 auto;
    margin-top:1rem;
    
  }
  .project-tile img{
    height:85%;
    border-radius:10px 10px 0px 0px;
  
  }
  .project-description{
    display:block;
    text-align:center;
    padding:2.3rem 0;
    height:15%;
    font-size:1.5rem;
    letter-spacing:0.5rem;
    background-color:#305DB2;
    color:white;
    font-weight:bold;
    border-radius:0px 0px 10px 10px;
  }
  
  .link-button{
    width:21%;
    height:5%;
    margin:2rem auto;
  }
  .link-button button{
    width:100%;
    height:100%;
    font-size:2rem;
    font-weight:bold;
    border:none;
    border-radius:3px 20px;
    color:white;
    background-color:#900C3F;
    cursor:pointer;
  }
  
  
  /*-----------FOOTER-----------*/
  footer{
    width:100%;
    height:80vh;
    background-color:#1e1e1e;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  
  footer h2{
    width:100%;
    text-align:center;
    font-size:4rem;
    margin:5rem 0 0 ;
    background-image: linear-gradient(
      45deg,
      #900C3F,
      white
      
    );
    -webkit-background-clip: text;
    background-size:400%;
    color:transparent;
    letter-spacing:0.5rem;
    animation: work 2s infinite alternate;
  }
  
  footer ul{
    width:80%;
    height:10%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  
  footer ul > li{
    display:block;
    width:20%;
    height:100%;
    text-align:center;
    padding:1rem 0;
  }
  footer ul > li > a{
    width:100%;
    height:100%;
    font-size:2.5rem;
    color:white;
    margin:0 auto;
    text-align:center;
  }
  }  